<h2 align="center">Welcom to Pizza world!</h2><br/>

<h3 align="center">Menu PizzaShop's</h3><br/>

<div class="row">

	<% @products.each do |product| %>


 	<div class="col-md-4">

 		<p> <img src="<%= product.path_to_image %>" height='200px' width='250px'> </p>
 		<h2><%= product.title %></h2>
 		<ul>
 		 <li type="none">Описание: <%= product.description %></li>
 		 <li type="none">Размер: <%= product.size %> см</li>
 		 <li type="none">Острота: <%= product.is_spicy %></li>
		 <li type="none">Можно в пост? <%= product.is_veg %></li>
		 <li type="none">Цена дня? <%= product.is_best_offer %></li>
 		</ul>
 		<p><strong>Цена: <%= product.price %>руб.</strong></p>
  		<button class = "btn btn-success btn-sm" onclick= "add_to_cart(<%= product.id %>)">Add to basket</button>
		
 	</div>
<% end %>

</div>

<script type="text/javascript">

	$(function() {

		update_orders_input();
		update_orders_button();

	});

	</script>


